<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pullyaml - Create free a poll with yaml</title>
    <meta name="description" content="Create a poll quickly and easily with the power of the YAML markup language."/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-exp.min.css">
</head>


<body>
<div class="hero hero-sm">
    <div class="hero-body text-center">
        <a href="/" class="btn btn-link text-dark"><h1>Pollyaml</h1></a>
    </div>
</div>
{{!base}}

</body>
