% rebase('template/base.html')

<div class="container">
    <div class="columns">
        <div class="column col-4 col-xs-12">
            <div class="panel">
                <div class="panel-header">
                    <div class="panel-title text-center">
                        <h2><u>{{ yml_file['title'] }}</u></h2>

                        <figure class="avatar avatar-xl text-uppercase" data-initial="{{yml_file['author'][0]}}"
                                style="background-color: #5755d9;"></figure>
                    </div>
                </div>

                <div class="panel-body">

                    <ul class="tab tab-block">
                        <li class="tab-item active"><a href="#panels">Informations</a></li>
                        <li class="tab-item"><a href="#panels">Comments (WIP)</a></li>
                    </ul>

                    <div class="tile tile-centered mt-2">
                        <div class="tile-content">
                            <div class="tile-title text-bold">ID</div>
                            <div class="tile-subtitle">{{ yml_file['poll-id'] }}</div>
                        </div>
                    </div>

                    <div class="tile tile-centered mt-2">
                        <div class="tile-content">
                            <div class="tile-title text-bold">Author</div>
                            <div class="tile-subtitle">{{ yml_file['author'] }}</div>
                        </div>
                    </div>

                    <div class="tile tile-centered mt-2">
                        <div class="tile-content">
                            <div class="tile-title text-bold">Creation date</div>
                            <div class="tile-subtitle">{{ yml_file['datetime'].strftime('%Y-%m-%d %H:%M:%S') }}</div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-primary btn-block" id="copy">
                        <i class="icon icon icon-copy"></i> Copy the poll link
                    </button>
                </div>
            </div>
        </div>

        <div class="column col-8 col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th></th>
                            % for col in yml_file['columns']:
                            <th>{{ col }}</th>
                            % end
                        </tr>
                        </thead>

                        <tbody>
                        % for line_name, values in yml_file.get('lines', {}).items():
                        <tr>
                            <td>{{ line_name }}</td>
                            % for index, col in enumerate(values):
                            <td>
                                % if col is True:
                                <button class="btn btn-success btn-lg btn-action c-not-allowed" data-index="{{index}}"
                                        data-name="{{line_name}}">
                                    <i class="icon icon-check"></i>
                                </button>
                                % elif col is False:
                                <button class="btn btn-error btn-lg btn-action c-not-allowed" data-index="{{index}}"
                                        data-name="{{line_name}}">
                                    <i class="icon icon-cross"></i>
                                </button>
                                % else:
                                <button class="btn btn-primary btn-lg btn-action c-not-allowed" data-index="{{index}}"
                                        data-name="{{line_name}}">
                                    <i class="icon icon-minus"></i>
                                </button>
                                % end
                            </td>
                            % end
                            <td>
                                <button class="btn btn-lg btn-link">
                                    <i class="icon icon-edit text-dark"></i>
                                </button>
                            </td>
                        </tr>
                        % end

                        <tr>
                            <td style="max-width: 100px">
                                <input class="form-input" type="text" placeholder="Name" name="name" id="name">
                            </td>
                            % for index, item in enumerate(yml_file['columns']):
                            <td>
                                <button class="btn btn-primary btn-lg c-hand" id="status" data-index="{{index}}">
                                    <i class="icon icon-minus"></i>
                                </button>
                            </td>
                            % end
                            <td>
                                <a class="btn btn-success" id="save">Save</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const btnCopy = document.getElementById('copy');
    const btnSave = document.getElementById('save');
    const btnEdit = document.getElementsByClassName('btn-link');
    const btnStatus = document.getElementsByClassName('c-hand');

    const poll_id = "{{ yml_file['poll-id'] }}";
    let body = {'poll-id': poll_id};

    for (const btn of btnStatus)
        btn.addEventListener('click', switchBtn);
    for (const btn of btnEdit)
        btn.addEventListener('click', edit);

    btnCopy.addEventListener('click', function () {
        btnCopy.innerText = 'Copied !';
        setTimeout(function () {
            btnCopy.innerText = 'Copy the poll link'
        }, 1000);

        const dummy = document.createElement('input'),
            text = window.location.href;

        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
    });

    btnSave.addEventListener('click', function () {
        const inputName = document.getElementById('name');
        body[inputName.value] = body[inputName.value] || [];

        if (inputName.value)
            fetch('/line', {method: 'POST', body: JSON.stringify(body)}).then(function () {
                window.location.reload(false);
            });
        else
            inputName.classList.add('is-error')
    });


    function edit() {
        this.firstElementChild.classList.replace('icon-edit', 'icon-check');
        const trItem = this.parentNode.parentNode;

        for (const tdChildren of [...trItem.children].slice(1, -1)) {
            let statusBtn = tdChildren.firstElementChild;
            statusBtn.classList.replace('c-not-allowed', 'c-hand');
            statusBtn.onclick = switchBtn;

            statusBtn.classList.replace('btn-success', 'btn-primary');
            statusBtn.classList.replace('btn-error', 'btn-primary');
            statusBtn.innerHTML = '<i class="icon icon-minus"></i>'
        }
        trItem.classList.add('active');

        this.onclick = function () {
            const line_name = trItem.firstElementChild.innerText;
            body[line_name] = body[line_name] || [];

            fetch('/line', {method: 'POST', body: JSON.stringify(body)}).then(function () {
                window.location.reload(false);
            });
        }
    }

    function switchBtn() {
        const btn = this;
        const index = btn.dataset.index;
        const name = btn.dataset.name || document.getElementById('name').value;
        const icon = btn.firstElementChild;

        body[name] = body[name] || [];

        switch (icon.classList[1]) {
            case 'icon-minus':
                icon.classList.replace('icon-minus', 'icon-check');
                btn.classList.replace('btn-primary', 'btn-success');
                body[name][index] = true;
                break;
            case 'icon-check':
                icon.classList.replace('icon-check', 'icon-cross');
                btn.classList.replace('btn-success', 'btn-error');
                body[name][index] = false;
                break;
            case 'icon-cross':
                icon.classList.replace('icon-cross', 'icon-minus');
                btn.classList.replace('btn-error', 'btn-primary');
                body[name][index] = null;
                break;
        }
    }


</script>