<table class="table text-center">
    <thead>
    <tr>
        <th></th>
        % for column in columns:
        <th>{{ column }}</th>
        % end
    </tr>
    </thead>

    <tbody>
    % for name, values in lines.items():
    <tr>
        <td>{{ name }}</td>
        % for value in values:
        <td>
            % if value is True:
            <button class="btn btn-success btn-lg btn-action c-not-allowed">
                <i class="icon icon icon-check"></i>
            </button>
            % elif value is False:
            <button class="btn btn-error btn-lg btn-action c-not-allowed">
                <i class="icon icon icon-cross"></i>
            </button>
            % else:
            <button class="btn btn-primary btn-lg btn-action c-not-allowed">
                <i class="icon icon icon-minus"></i>
            </button>
        </td>
        % end
        % end
    </tr>
    % end

    </tbody>

</table>